/node_modules
/iisnode
.DS_Store
.metadata
/public/uploads/
/public/lib/
/nbproject/
/.metadata/
/server.js.debug
/server/data
.foreverignore
error.log
out.log
forever.log

/Gruntfile.js
/public/build
/typings
/_reference.js
.\#*
.tern-port
*~                      
\#*\#
.editorconfig
public/photos/*
lcov.info
/config/.env
.env
.local.env
/config/.keys/
*.pem
*.cert